*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    color: white;
}
body{
    background: url('./images/backImage.jpeg');
}

h1{
    /* background-color: orange; */
    margin-bottom: 2vh;
}
@media screen and (min-width: 601px){
    .header{
        text-align: center;
        height: 10vh;
        padding-top: 4vh;
        font-size: 20pt;
    }

.head-titles{
    display: inline-flex;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    font-size: 14pt;
    /* border: solid white; */
    text-decoration: none;}
}
@media screen and (max-width: 600px){
    .header{
        text-align: center;
        height: 10vh;
        padding-top: 4vh;
        font-size: 4vw;
    }

    .head-titles{
        display: inline-flex;
        justify-content: space-between;
        font-size: 14pt;
        padding-left: 1vh;
        padding-right: 1vh;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 2vh;
        text-decoration: none;
    }
}

/* .contact{
    margin: 5px;
    margin-right: 5vw;
}
.contact1{
    margin: 5px;
} */
.about-div{
    margin-top: 10vh;
}


.about-section{
    margin: 10vh 25vw 10vh 28vw;
    padding: 6vh;
    font-size: 12pt;
    /* background-color: rgb(236, 158, 70); */
    opacity: .8;
    border-radius: 80px;
    /* border: solid white; */
}

#contact-border{
    border-left: solid #ff7f00 1px;
    border-right: solid #ff7f00 1px;
}
/* #project-border{
    border-right: solid white 1px;

} */
a{
    text-decoration: none;
}
.nav-bar{
    /* background-color: rgb(236, 158, 70); */
}
.head-titles:hover{
    cursor: pointer;
    background-color: #ff7f00;
}

.me_pic{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background: url('./images/TylaineJeffreyWDI.png') no-repeat;
    background: cover;
    margin: 0vh 0vw 7vh 5vw;
    /* border: solid orange; */
}


/* footer info across pages */
/* screen adjustment for less that 600px screens */
@media screen and (max-width: 600px){
    .links-footer{
        color: black;
        display: inline-flex;
        margin: 2vh;
    }
    
    .footer-div{
        /* display: flex;
        justify-content: space-between; */
        letter-spacing: .5vw;
        margin-top: 10vw;
        height: 10vh;
        padding: 2vh;
        background-color: #39343d;
        position: relative;
        /* border-top: solid orange 1px; */
    }
}
/* screen adjustment for more that 600px screens */
@media screen and (min-width: 601px){
    .links-footer{
        display: inline-flex;
        
    }
    .footer-div{
        display: flex;
        justify-content: space-between;
        letter-spacing: .5vw;
        background-color: #39343d;
        margin-top: 10vw;
        height: 5vh;
        padding: 2vh;
        position: relative;
        
        /* border-top: solid orange 1px; */
    }
}



/* project page info */
/* smaller screen details */
@media screen and (max-width: 700px){
    .project-divs {
        height: 80vh;
        padding-left: 10vw;
        margin: 10vw 10vw 25vw 15vw;
        width: 30vh;
        
    }
    .screenshot{
        text-decoration: none;
        padding: 1vh;
        margin: 7vh 1vw 5vw 1vw;
}
}
/* bigger screen details */
@media screen and (min-width: 701px){
    .project-divs {
    height: 35vh;
    padding-top: 4vw;
    padding-left: 4vw;
    margin: 10vw 10vw;
}
.screenshot{
    text-decoration: none;
    padding-left: 2vh;
    display: inline-grid;
    margin: 7vh 1vw 0px 0vw;
}
section{
    margin-left: 15vw;
}
}