* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    color: white;
}

body {
    background: url('./images/backImage.jpeg');
    /* position: relative; */
}

h1 {
    margin-bottom: 1vh;
}

.aside {
    position: absolute;
    z-index: 10;
}

@media screen and (min-width: 601px) {
    .header {
        text-align: center;
        height: 7vh;
        padding-top: 4vh;
        font-size: 20pt;
    }
    .head-titles {
        display: inline-flex;
        justify-content: space-between;
        padding-left: 5vh;
        padding-right: 5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        /* margin-bottom: 1vh; */
        font-size: 14pt;
        text-decoration: none;
    }
    .article {
        margin-top: 6vh;
        line-height: 2em;
    }
    .me_pic {
        border-radius: 100px;
        width: 12vw;
        height: 12vw;
        border: solid black;
        background: url('./images/TylaineJeffreyWDI.png') no-repeat;
        background: cover;
        margin: 0vh 0vw 1vh 22vw;
    }
}

@media screen and (max-width: 600px) {
    .header {
        text-align: center;
        height: 7vh;
        padding-top: 4vh;
        font-size: 4vw;
    }
    .head-titles {
        display: inline-flex;
        justify-content: space-between;
        font-size: 14pt;
        padding-left: 1vh;
        padding-right: 1vh;
        margin-left: 1vw;
        margin-right: 1vw;
        /* margin-bottom: 2vh; */
        text-decoration: none;
    }
    .me_pic {
        border-radius: 100px;
        width: 9em;
        height: 9em;
        border: solid black;
        background: url('./images/TylaineJeffreyWDI.png') no-repeat;
        background: cover;
        margin: 0vh 0vw 1vh 10vw;
    }
}

.about-div {
    margin-top: 10vh;
}

.about-section {
    margin: 7vh 15vw 7vh 16vw;
    padding: 6vh;
    font-size: 12pt;
    opacity: .8;
    border-radius: 80px;
}

#contact-border {
    border-left: solid red 1px;
    border-right: solid red 1px;
}

a {
    text-decoration: none;
}

.head-titles:hover {
    cursor: pointer;
    padding: 1vw;
    border-bottom: solid white 2px;
    /* text-decoration: underline; */
    /* box-shadow: 5px 10px black; */
}


/* footer info across pages */


/* screen adjustment for less that 600px screens */

@media screen and (max-width: 600px) {
    .links-footer {
        color: black;
        display: inline-flex;
        margin: 2vh;
    }
    .footer-div {
        letter-spacing: .5vw;
        margin-top: 10vw;
        height: 10vh;
        padding: 2vh 25vw;
        background-color: #39343d;
        position: absolute;
        z-index: 10;
        width: 100%;
        /* display: flex; */
        justify-content: space-around;
    }
}


/* screen adjustment for more that 600px screens */

@media screen and (min-width: 601px) {
    .links-footer {
        display: inline-flex;
    }
    .footer-div {
        display: flex;
        justify-content: space-between;
        letter-spacing: .5vw;
        background-color: #39343d;
        height: 15vh;
        padding-top: 5vh;
        margin-top: 10vw;
        position: absolute;
        z-index: 10;
        width: 100%;
    }
}


/* project page info */


/* smaller screen details */

@media screen and (max-width: 900px) {
    .project-divs {
        height: 190vw;
        padding: 5vw 10vw;
        margin: 7vw 4vw 15vw 15vw;
        /* border: solid blue; */
        width: 100%;
    }
    .screenshot {
        text-decoration: none;
        padding: 1vh;
        margin: 3vw 1vw 3vw 1vw;
        line-height: 6vw;
        /* border: solid yellow; */
    }
    .screenshot-container {
        height: 175vw;
        /* padding-top: 4vw; */
        /* padding-left: 4vw; */
        margin: 2vw 1vw;
        overflow: scroll;
        display: grid;
        width: 100%;
        /* grid-template-columns: 40% 50%; */
        /* grid-row-gap: 8%; */
    }
}


/* bigger screen details */

@media screen and (min-width: 901px) {
    .project-divs {
        height: 75vw;
        /* padding-top: 4vw; */
        /* padding-left: 4vw; */
        /* padding-right: 4vw; */
        margin: 5vw 5vw 2vw 5vw;
        /* border: solid red; */
    }
    .screenshot {
        text-decoration: none;
        /* padding-left: 2vh; */
        /* border: solid green; */
        /* margin: 6vh 1vw 0px 0vw; */
        /* width: 50%; */
        line-height: 2.5vw;
    }
    .screenshot-container {
        height: 60vw;
        padding-top: 2vw;
        /* padding-left: 4vw; */
        margin: 3vw 0vw;
        overflow: scroll;
        display: inline-grid;
        grid-template-columns: 40vw 50vw;
        grid-row-gap: 4vw;
        border: solid black 1px;
    }
}


/* contact information page */


/* .me_pic_contact {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background: url('./images/TylaineJeffreyWDI.png') no-repeat;
    background: cover;
    margin: 0vh 3vw 1vh 1vw;
}

.submit:hover {
    background-color: red;
    color: white;
}

@media screen and (min-width: 601px) {
    .text-field-container {
        display: flex;
        margin-left: 1vw;
    }
    .textField {
        font-size: 14pt;
        margin: 2vh 0;
        width: 11vw;
        border-radius: 9px;
        color: black;
    }
    .message {
        height: 19vh;
        width: 35vw;
        margin-left: 1vw;
        font-size: 14pt;
        color: black;
        border-radius: 12px;
        padding-left: 1vw;
        margin-bottom: 2vh;
    }
    .submit {
        font-size: 14pt;
        color: red;
        background-color: white;
        border: solid red 2px;
        border-radius: 6px;
        width: 9vw;
        float: right;
    }
    .form-section {
        margin: 10vh 22vw 10vh 21vw;
        padding: 6vh;
        font-size: 12pt;
        display: flex;
        opacity: .8;
        border-radius: 80px;
    }
    .links-aside {
        display: inline-flex;
    }
    .contactForm {
        margin-top: 7vh;
    }
}

@media screen and (max-width: 600px) {
    .textField {
        font-size: 14pt;
        margin: 2vh 1vw;
        width: 38vw;
        border-radius: 9px;
        padding-left: 1vw;
        color: black;
    }
    .message {
        height: 17vh;
        width: 38vw;
        margin-left: 1vw;
        font-size: 14pt;
        color: black;
        border-radius: 12px;
        padding-left: 1vw;
    }
    .submit {
        font-size: 14pt;
        color: red;
        background-color: white;
        border: solid red 2px;
        border-radius: 6px;
        float: right;
        width: 18vw;
        margin-top: 1vh;
    }
    .links-aside {
        display: inline-flex;
        margin: 0 0 0 8vw;
    }
    .form-section {
        margin: 10vh 25vw 10vh 16vw;
        padding: 6vh;
        font-size: 12pt;
        opacity: .8;
        border-radius: 80px;
    }
} /*